// Font Family import by Google Fonts API
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

// Set base font family
html,
body {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: $c-light-100;
}

// Hero title, used in the search view (h1)
.t-hero {
    font-weight: 700;
    font-size: 44px;
    text-align: center;

    @media #{$mq-sm} {
        font-size: 48px;
    }

    @media #{$mq-md} {
        font-size: 56px;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

// Page title (h1)
.t-page {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    @media #{$mq-lg} {
        font-size: 44px;
        line-height: 52px;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

// Section title (h2)
.t-section {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;

    @include modifier(highlight) {
        
    }
}

// Paragraph (p)
p {
    font-size: 18px;
    line-height: 26px;

    &:not(:last-child) {
        margin-bottom: 56px;
    }
}

// Highlight text, with the hover effect of a bottom line that fill the background (element > span)
.t-highlight {
    display: inline-block;
    position: relative;
    color: $c-dark-600;
    background-color: $c-amber-200;

    span {
        margin: 0 3px;
    }
}

// Inputs
input {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}